black
celery>=4.0, <5.0
coveralls
django-debug-toolbar
django-extensions
django-js-reverse
django-jsonfield
django-jsonfield-compat
django-minio-storage
django-mptt
django-multiupload
django-pipeline
django-webpack-loader
django-webtest
Django>=2.0,<2.1
djangorestframework>3.7,<4
drf-extensions
furl
git+https://github.com/C4ptainCrunch/libulb.git
git+https://github.com/justquick/django-activity-stream.git
gunicorn
honcho
ipython
jsonfield
markdown
mock
Pillow
psycopg2-binary
pygments
pyPdf2
PyReact
pytest-cov
pytest-django
python-memcached
PyYaml
raven
redis
requests
responses
rules
xmltodict
