{% load humanize %}
{% load render_bundle from webpack_loader %}


<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="DocHub" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://dochub.be/static/images/facebook_cover.png" />
    <meta property="og:url" content="https://dochub.be" />
    <meta property="og:description" content="DocHub vous permet de poser des questions aux autres étudiants, échanger vos notes, vos résumés, d'anciens examens et bien plus encore. " />
    <title>{% block title %}DocHub{% endblock %}</title>

    {% render_bundle 'commons' %}
    {% render_bundle 'styles' %}

    <link rel="icon" type="image/png" href="/static/images/favicon.png" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>
    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>

    <script src="https://cdn.jsdelivr.net/foundation/5.5.3/js/vendor/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/5.5.3/js/vendor/fastclick.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/5.5.3/js/vendor/jquery.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/5.5.3/js/vendor/modernizr.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/5.5.3/js/vendor/placeholder.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/5.5.3/js/foundation.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/5.5.3/css/foundation.min.css">

    <script type="text/javascript">
      window.READ_ONLY = {{ READ_ONLY | yesno:"true,false" }};
    </script>

    {% render_bundle 'main' %}

    {% block header %}
    {% endblock %}
  </head>
  <body>
    <div id="root"></div>
    {% block full-page %}
      <div class="row">
        {% block content %}
        {% endblock %}
      </div>
    {% endblock %}

    {% block script %}{% endblock %}





  </body>
</html>
